* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    overflow: hidden;

    background-image: url("../media/ddImages/screen/crystalBackground.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    touch-action: none;
}

@font-face {
    font-family: exo;
    src: url(Fonts/Exo2-Regular.ttf);
}

h1 {
    font-family: exo;
    color: #e9fffc;
    text-shadow: 0px 2px 1px #220355;

    font-size: 2vh;
}

.top {
    margin-top: 5vh;
    text-align: center;
}

/* #container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;

} */

#QrCode {
    text-align: center;
}

img.title {
    width: 28vh;
}