@font-face {
  font-family: BibloINC;
  src: url(./../CSS/Fonts/BilboINC.ttf);
}

@font-face {
  font-family: Exo2;
  src: url(./../CSS/Fonts/Exo2-Thin.ttf);
}


@font-face {
  font-family: Exo2Normal;
  src: url(./../CSS/Fonts/Exo2-Regular.ttf);
}


h1 {
  font-family: 'BibloINC';

  font-weight: 400;
  font-size: 88px;
  line-height: 88px;
  text-align: center;
  letter-spacing: 0.02em;
  font-feature-settings: 'zero' on;
  
  background: linear-gradient(172.31deg, #FFEFF5 24.87%, #FF699E 98.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}
p{
  font-family: 'Exo2Normal';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 122%;
/* or 24px */

text-align: center;
letter-spacing: -0.02em;
font-feature-settings: 'zero' on;

color: #E9FFFC;

text-shadow: 0px 1.5px 0px #180447;
;
}

body{
  background-image: url(./../Media/bg.svg);
  background-color: #cccccc;
  width: 100%;
  
  
}

#scannerTitle{
  text-align: center;
  margin-right: 10%;
}



.titleImg{
  width: 100%;
  padding-top: 50%;
}

.loader{
  position: fixed;
    width: 100vw;
    height: 200vh;
    pointer-events: none;
    background-color: #FFF6ED;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
}


.is-transitioning {
    pointer-events: none;
    cursor: progress;
}

#beginButton {
    background-color: deepskyblue;
    
}
.container {
    height: 300px;
    position: relative;
  }
  
  .center {
    padding-top: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .horizontal-center {
    margin: 0;
    position: absolute;
    -ms-transform: translateX(50%);
    transform: translateX(100%);
  }

#Instructions {
    padding-top: 10%;
}

.header{

  
}

/* Style the tab */
.tabbedInstuctions {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tabbedInstuctions button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabbedInstuctions button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabbedInstuctions button.active {
  background-color: #ccc;
  visibility: hidden;
}

/* Style the tab content */
.tabContent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
  visibility: hidden;

}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}