@font-face {
  font-family: BibloINC;
  src: url(/CSS/Fonts/BilboINC.ttf);
}

@font-face {
  font-family: Exo2;
  src: url(/CSS/Fonts/Exo2-Thin.ttf);
}



h1 {
    font-family: 'BibloINC', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 64px;
    text-align: center;
    color: lavender;
}
p{
  color: lavender;
  font-family:'Exo2', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

body{
  background-image: url(/Media/PlaceholderBG.png);
  background-color: #cccccc;
  width: 100%;
  
  
}

.img{
  width: 100%;
}

.loader{
  position: fixed;
    width: 100vw;
    height: 200vh;
    pointer-events: none;
    background-color: #FFF6ED;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
}


.is-transitioning {
    pointer-events: none;
    cursor: progress;
}

#beginButton {
    background-color: deepskyblue;
    
}
.container {
    height: 200px;
    position: relative;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .horizontal-center {
    margin: 0;
    position: absolute;
    -ms-transform: translateX(50%);
    transform: translateX(100%);
  }

#Instructions {
    display: hidden;
}