* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    overflow: hidden;

    background-image: url("./../Media/bg.svg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    touch-action: none;
}


@font-face {
    font-family: Exo2Normal;
    src: url(./Fonts/Exo2-Regular.ttf);
  }
  
  
@font-face {
    font-family: BibloINC;
    src: url(./Fonts/BilboINC.ttf);
  }

h1 {
    font-family: 'BibloINC';

    font-weight: 400;
    font-size: 10vh;
    line-height: 10vh;
    text-align: center;

    background: linear-gradient(172.31deg, #FFEFF5 24.87%, #FF699E 98.33%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

p {
    font-family: 'Exo2Normal';
    font-size: 3vh;

    color: #E9FFFC;
}

.top {
    margin-top: 5vh;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    text-align: center;
    margin-top: 10vh;

    background-image: url("./../Media/Back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50vh;
    height: 50vh;
}

#onBoard1 {
    margin-top:5vh;
    width: 30vh;
}

#textInContext {
    margin-top: 1vh;
    margin-left: 10vh;
    margin-right: 10vh;
    text-align: left;
}

#onboardForward, #onboardBack {
    width: 8vh;
    height: 9vh;
    margin-bottom: 8vh;
}

#startButton {
    margin-top: 8vh;
    margin-bottom: 1.5vh;
    width: 25vh;
}

#back {
    margin-top: 3vh;
    width: 9vh;
    height: 10.5vh;
}

.ssButtons {
    display: flex;
}

.ssButton {
    flex: 50%;
    padding: 5px;
}