* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    overflow: hidden;

    background-image: url("./../Media/ddImages/screen/crystalBackground.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    touch-action: none;
}

@font-face {
    font-family: exo;
    src: url(./Fonts/Exo2-Regular.ttf);
}

h1 {
    font-family: exo;
    color: #e9fffc;
    text-shadow: 0px 2px 1px #220355;

    font-size: 2vh;
}

.top {
    margin-top: 5vh;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    text-align: center;
    margin-top: 10vh;
}

img.title {
    width: 28vh;
}

img.qrImage {
    width: 38vh;
}

img.swordImage {
    width: 38vh;
}

#continue {
    margin-top: 5vh;
    width: 25vh;
}

#back {
    margin-top: 1.5vh;
    width: 10vh;
    height: 12vh;
}

#download {
    margin-top: 0vh;
    width: 30vh;
}

.ssButtons {
    display: flex;
}

.ssButton {
    flex: 50%;
    padding: 5px;
}